---
const primaryText = "Nos Casamos!!"
const secundaryText = "Ven a celebrarlo con nosotros..."
---

<div class="w-full h-2/5 flex flex-col justify-center items-center font-missFajardose py-3">
  <p class="text-8xl">{primaryText}</p>
  <img src="/src/components/inviteInfo/RoseDecorator.svg" class="size-16" alt="rose" />
  <p class="text-7xl">{secundaryText}</p>
</div>