---
import Layout from '@/layouts/Layout.astro';

import FrontPage from '@/sections/FrontPage.astro';
import InviteInfo from '@/sections/InviteInfo.astro';
---

<Layout title="Boda Rivas Zelaya">
	<style>
		.main-container {
			scroll-snap-type: y mandatory;
			overflow-y: scroll;
		}
		section {
			scroll-snap-align: start;
		}
	</style>

	<div class="main-container h-screen w-screen">
		<section class="slide h-full w-full">
			<FrontPage />
		</section>

		<section class="slide h-full w-full">
			<InviteInfo />
		</section>
	</div>
</Layout>

<script>
  let currentSection = 0;
  const sections = document.querySelectorAll(".slide");

  if (sections.length > 0) {
    window.addEventListener("wheel", (e) => {
      if (e.deltaY > 0) {
        currentSection = Math.min(currentSection + 1, sections.length - 1);
      } else {
        currentSection = Math.max(currentSection - 1, 0);
      }

      sections[currentSection].scrollIntoView({ behavior: "smooth" });
    });
  }
</script>
