---
export interface Props{
  bride: string;
  groom: string;
}

const { bride, groom } = Astro.props;
---

<div class="absolute top-0 left-0 w-full h-full z-20 text-white font-missFajardose text-9xl flex flex-col justify-center items-center">
  <p>{bride}</p>
  <p>&</p>
  <p>{groom}</p>
</div>