---
import FrameTop from "@/components/frontPage/FrameTop.astro";
import FrameBottom from "@/components/frontPage/FrameBottom.astro";
---

<div id="frame-wrapper" class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-30 z-10 flex flex-col space-y-96 justify-center items-center">
  <FrameTop />
  <FrameBottom />
</div>